.ava {
    width: 100%;
    text-align: center;
}
.info {
    width: 70%;
    text-align: center;
    margin-left: 85px;
    padding: 15px;
}
.info span{
    display: block;
    padding: 10px;
}
.copy-body{
    background-color: gray;
    padding-top: 20px;
    background-image: url('https://image.freepik.com/free-vector/abstract-technology-background-hacker-concept-programming-coding-binary-computer-code-matrix-background-style_87788-179.jpg');
  
}
.row {
    margin: 30px;
}

.main{
    width: 50%;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    box-shadow: 6px 4px 13px 2px rgba(0,0,0,0.64);
    padding: 15px;
    background-color: #fff;
}

.nick{
    font-size: 20px;
    font-weight: 500;
}

